.section{
  position: relative;
  width: 1446px;
  height: 380px;
  left: 50%;
  margin-left: -740px;
  top: 30vh;
  .iconfont{
    color: #0f0;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}